<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinema Point</title>
    <link rel="icon" type="image/png" href="/images/Logo/logo.png" />
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cinema_task.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark  shadow-sm border-bottom py-3">
            <div class="container">
              
                <a class="navbar-brand d-flex align-items-center gap-3" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/Logo/logo.png" alt="Logo" width="70" height="70" style="object-fit: contain;" />

                    <span class="fs-4 fw-bold text-danger">Cinema Point</span>
                </a>

               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

               
                <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
                    <ul class="navbar-nav align-items-center gap-2">
                        <li class="nav-item">
                            <a class="nav-link text-light fw-semibold" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-house-door-fill me-1"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light fw-semibold" asp-area=""  asp-action="Categories">
                                <i class="bi bi-house-door-fill me-1"></i> Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light fw-semibold" asp-area="" asp-action="Cinema">
                                <i class="bi bi-house-door-fill me-1"></i> Cinema
                            </a>
                        </li>
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark fw-semibold" asp-area="" asp-controller="Home" asp-action="Privacy"> *@
                        @*         <i class="bi bi-shield-lock-fill me-1"></i> Privacy *@
                        @*     </a> *@
                        @* </li> *@
                        
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer py-2 bg-dark text-light border-top shadow">
        <div class="container d-flex flex-column flex-sm-row  align-items-center text-center gap-2 fs-5">
            <span><strong>Cinema Point</strong></span>
           
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
